*, p, ul, li, h1, h2, h3, h4, h5{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    color: #111;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #fff;
    position: relative;
    padding: 15px 0;
}

img {
    width:  35px;
    height:  100%;
}

.top-header {
    display:  inline-block;
    min-width:  100%;
}

header .logo img {
    width: 250px;
    height: 100%;
}

header .box-search {
    display: table;
    position:  relative;
    border-collapse: separate;
    white-space:  nowrap;
}

header .setting {
    display:  inline-block;
}

header .language {
    display:  inline-block;
}

header .language li {
    display:  inline-block;
    padding: 5px 4px;
     */
    /* margin: 0 auto; */
    margin:;
}

header .menu-top li {
    display:  inline-block;
    margin-left: 15px;
}

header .menu-top {
    display: inline-block;
    float:  right;
    /* text-align:  right; */
    margin: 20px 0 10px 0;
}

header .box-search input[type="text"] {
    border: 1px solid #ededed;
    border-right:  0;
    padding: 6px 8px;
    width: 250px;
    position: relative;
    z-index: 1;
}

header .box-search button {
    padding: 6px 8px;
    border: 1px solid #ededed;
    background:  #fff;
}

header .box-search span {
    /* width: 100%; */
    /* position: absolute; */
    /* top: 0px; */
    /* right: -30px; */
    /* z-index: 0; */
}

.content .top-search {
    padding:  10px 0;
}

.content .data-map img {
    width:  100%;
    height:  100%;
}

.content .item-search span {
    display:  inline-block;
}

#myCarousel img {
    width:  100%;
}

header .setting {
    padding: 0 20px;
    /* display: inline; */
}

header .setting a {
    padding: 0 20px;
    line-height: 30px;
    font-size: 20px;
}

header .header-top {
    /* text-align:  right; */
    margin-top: 10px;
    float:  right;
    display: flex;
}

header .language img {
    opacity: 0.5;
    width: 21px;
    border: 1px solid #004ea2;
}

header .menu-top li a {
    color: #a0a0a0;
}

header .menu-top li:hover a:hover {
    color: #09c;
}

header .menu-top li.active-menu a {
    color: #09c;
}

.content .top-search .item-search .item-image {
    display: inline-block;
    border: 2px solid #46b0e6;
    padding: 20px;
    border-radius:  50%;
    margin: 6px 30px 0px 6px;
}

.content .top-search .item-sub {
    display:  inline-block;
}

.content .item-image img {
    width: 50px;
}

.content .item-search:nth-child(2) .item-sub a {
    color: #aeca53;
}

.content .search-property h3 {
    color: #004ea2;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight:  bold;
}

.content .search-property {
    background: #ededed;
    padding: 25px 0;
}

.content .main-search input[type="text"] {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid #bdbdbd;
}

.content .search-property select {
    width: 100%;
    padding: 6px 8px;
    border: 1px solid #bdbdbd;
    height:  34px;
}

.content .main-search {
    width:  100%;
    display:  inline-block;
    margin-bottom: 10px;
}

.content .plus-search input.inSearch {
    width: 100%;
    height: 100%;
    color:  #fff;
    background:  #337ab7;
    padding: 7px;
    border:  0;
}

.content .plus-search a {
    font-size: 17px;
    position:  relative;
    top: 6px;
    color: #004ea2;
}

.content .plus-search i.fa.fa-external-link {
    margin-right: 10px;
}

.content .tab-content .project-item img {
    min-width:  100%;
    width: 100%;
    padding: 8px 6px;
    /* border-bottom: 1px solid #ededed; */
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    cursor:  pointer;
}

.content .project-item .item-details span {
    padding: 5px;
}

.content .project-item {
    margin:  15px 0;
    border:  1px solid #ededed;
    transition: box-shadow .3s;
    overflow:  hidden;
}

.content .project-item h4 {
    text-align:  center;
    color:  #09c;
    border-bottom: 1px solid #ededed;
    padding: 15px 12px;
    white-space:  nowrap;
    text-overflow:  ellipsis;
    overflow:  hidden;
    cursor:  pointer;
}

.content .project-item .item-details  i {
    font-size: 16px;
    margin: 0 10px;
    width: 20px;
    height: 20px;
}

.content .project-item .item-details p {
    line-height: 30px;
    overflow:  hidden;
    white-space:  nowrap;
    text-overflow:  ellipsis;
}

.content p.item-infobasic {
    display: inline-block;
}

.content .category-tab {
    display:  inline-block;
    background: #b0b0b0;
    padding: 15px 12px;
    margin-top:  10px;
    margin-right:  10px;
    cursor:  pointer;
}

.content .tab-content .category-tab a {
    color: #fff;
    text-transform:  uppercase;
    font-size: 16px;
    width: 100%;
    text-decoration:  none;
}

.content .project-item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.content .tab-content .project-item img:hover {
    -webkit-transform: scale(1.1) rotate(0.01deg);
    transform: scale(1.1) rotate(0.01deg);
}

.content .tab-content .load-more {
    background:  #f5f5f5;
    text-align:  center;
    box-shadow: 0 5px #ccc;
    border-radius:  5px;
}

.content .tab-content .load-more a {
    color: #111;
    display: block;
    width:  100%;
    height: 100%;
    padding:  10px 0;
    text-decoration:  none;
}

.content .widget-map {
    background:  #ededed;
    border-top: 3px solid #044da2;
}

.content .widget-map img {
    width: 100%;
}

.content .widget-map-header {
    border-bottom:  1px solid #e0e0e0;
    padding: 11px;
}

.content .widget-map-body {
    padding: 11px;
}

.content .widget-item {
    background: #ededed;
    border-top: 3px solid #044da2;
    margin-top: 20px;
}

.content .widget-item-header {
    border-bottom: 1px solid #e0e0e0;
    padding: 11px;
}

.content .widget-item-body {
    padding: 11px;
}

.content .widget-item-body img {
    width:  100%;
}

.content .widget .item {
    background: #fff;
}

.content .widget-type-room {
    background:  #ededed;
    margin-top:  20px;
}

.content .widget-toRoom-header {
    border-bottom: 1px solid #e0e0e0;
    padding: 11px;
}

.content .widget-toRoom-header h4 {
    padding-left:  5px;
    border-left: 3px solid #044da2;
}

.content .widget-item i.fa.fa-bolt {
    margin-right:  5px;
}

.content .widget-toRoom-body {
    padding: 15px;
    position:  relative;
}

.content .widget-toRoom-body ul {
    background: #fff;
}

.content .widget-toRoom-body a {
    color: #47b0e6;
    position:  relative;
}

.content .widget-toRoom-body li {
    padding: 5px 0;
    border-bottom: 1px dotted #f5f5f5;
    padding-left: 20px;
}

.content .widget-toRoom-body a:before {
    content: "\f101";
    font-size:  13px;
    color: #47b0e6;
    position:  absolute;
    top:  0;
    left: -12px;
    font-family: FontAwesome;
}

.content .widget-toRoom-body a:hover {
    transform: scale(1.3);
}

.content .widget-danang {
    background: #ededed;
    margin-top: 20px;
}

header .box-search input[type="text"]:focus {
    outline: none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

header .box-search span button:hover {
    background: #ccc;
}

header span button:focus {
    z-index: 0;
    outline: none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}

header .language img:hover {
    opacity:  1;
}

header .setting a:focus, a:hover {
    text-decoration:  underline;
    color:  #23527c;
}

.content .top-search .item-search:nth-child(2) .item-image {
    border: 2px solid #8db900;
}

.content .top-search .item-search:nth-child(3) .item-image {border: 2px solid #ff8626;}

.content .item-search:nth-child(3) .item-sub a {
    color: #ff8626;
}

.content .item-search .item-sub a {
    color: #46b0e6;
    font-size:  24px;
    line-height:  30px;
}

.content .latest-project {
    margin-top:  20px;
}

.content .latest-project h3 {
    margin-bottom: 15px;
    font-weight:  bold;
    padding-left: 5px;
    border-left: 3px solid #044da2;
}

.content .category-tab:focus {
    background: #004ea2;
}

.content .project-item .item-img {
    border-bottom: 1px solid #ededed;
}

.content p.item-infobasic-right {
    display:  inline-block;
    float:  right;
}

.content .item-details {
    padding: 5px;
}

.content .project-item .item-details .item-quality b {
    color:  #f70;
}

.content .widget .carousel-inner .item-img img {
    min-width: 100%;
    width: 100%;
    padding: 8px 6px;
    /* border-bottom: 1px solid #ededed; */
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
    cursor: pointer;
}

.content .widget .carousel-inner .item-img img:hover {
    -webkit-transform: scale(1.1) rotate(0.01deg);
    transform: scale(1.1) rotate(0.01deg);
}

.content .widget .widget-latest-news {
    background: #ededed;
    margin-top: 20px;
}

.content .widget .widget-news-header {
    border-bottom: 1px solid #e0e0e0;
    padding: 11px;
    margin-bottom: 10px;
}

.content .widget .widget-latest-news>h4 {
    padding-left: 5px;
    border-left: 3px solid #044da2;
}

.content .widget-latest-news .widget-news-header>h4 {
    padding-left: 5px;
    border-left: 3px solid #044da2;
}

.content .widget .widget-item-news {
    display:  inline-block;
    margin: 3px 15px;
    border-bottom: 1px solid #ccc;
    overflow:  hidden;
}

.content .widget .widget-news-img {
    /* display:  inline-block; */
    /* white-space:  nowrap; */
    float:  left;
}

.content .widget .widget-news-content {
    margin-left: 10px;
    /* display:  inline-block; */
    float:  left;
    width: calc(100% - 80px);
    /* overflow:  hidden; */
}

.content .widget .widget-news-img img {
    width: 100%;
    height: 100%;
}

.content .widget .widget-news-content h4 {
    font-size: 14px;
    height: 30px;
    margin-bottom: 5px;
    overflow: hidden;
}

.content .widget .widget-news-content p {
    font-size: 14px;
    line-height: 15px;
    height: 30px;
    margin-bottom: 5px;
    overflow: hidden;
}

.content .widget .widget-item-views span {
    border-radius: 50%;
    background: #989898;
    font-size:  24px;
    width: 40px;
    height: 40px;
    text-align:  center;
    display:  inline-block;
    color:  #fff;
    line-height: 40px;
    float:  left;
}

.content .widget .widget-views-content{
    float:  left;
    width: calc(100% - 70px);
    margin-left: 11px;
}

.content .widget .widget-views-content h4 {
    font-size: 14px;
    line-height: 18px;
}

.content .widget .widget-views-content a {
    color: #044da2;
}

.content .widget .widget-views-content p {
    color: #888;
}

.content .widget .widget-top-views {
    background: #ededed;
    margin-top: 20px;
}

.content .widget-views-header {
    border-bottom: 1px solid #e0e0e0;
    padding: 11px;
    margin-bottom: 10px;
}

.content .widget-views-header h4 {
    padding-left: 5px;
    border-left: 3px solid #044da2;
}

.content .widget .widget-item-views {
    display:  inline-block;
    margin: 5px 10px;
    border-bottom: 1px #d7e2ef dashed;
}

.content .widget .widget-item-key {
    background:  #ededed;
    margin-top:  20px;
    padding: 11px;
}

.content .widget .widget-key-header h4 {
    padding: 5px;
    border-left: 3px solid #044da2;
}

.content .widget .widget-key-content {
    display:  inline-block;
    margin-top: 10px;
}

.content .widget .widget-key-content a {
    display:  inline-block;
    background:  #fff;
    padding:  5px;
    margin: 5px 0;
    text-decoration:  none;
}

.content .widget .widget-key-content a:hover {
    background: #044da2;
    color:  #fff;
}

.content .culture-items {
    display:  inline-block;
    float:  left;
    width: 50%;
    padding: 0 20px 15px 0;
}

.content .culture-content {
    display:  inline-block;
}

.content .widget-key-img {
    display:  inline-block;
    float:  left;
}

.content .widget-key-img img {
    width: 100%;
}

.content .culture-header {
    margin: 20px 0;
}

.content .culture-header h4 {
    border-left: 3px solid #044da2;
    padding-left: 10px;
}

.content .culture .widget-key-content {
    display:  inline-block;
    width: calc(100% - 120px);
    margin-left: 10px;
}

.widget-key-content h4 {
    color:  #044da2;
    font-size:  16px;
    margin-bottom:  10px;
}

.widget-key-content h4:hover {
    text-decoration: underline;
}

.content .culture-items p {
    color:  #888;
}

.content .culture-loadmore {
    text-align:  right;
    position:  relative;
}

.content .culture-loadmore a:before {
    content: "\f101";
    font-size: 13px;
    color: #47b0e6;
    position: absolute;
    top: 0;
    right: 70px;
    font-family: FontAwesome;
}

.content .cusine-item-left {
    display:  inline-block;
}

.content .cusine-item-left .widget-cusine-img img {
    width: 100%;
}

.content .cusine-item-left .widget-cusine-content {
    margin-top: 20px;
}

.content .cusine-item-left .widget-cusine-content h4 {
    color: #044da2;
    font-size:  16px;
    line-height: 30px;
    margin-bottom: 5px;
}

.content .cusine-item-left .widget-cusine-content p {
    color: #888;
}

.content .cusine-header {
    margin: 20px 0;
}

.content .cusine-header h4 {
    border-left: 3px solid #044da2;
    padding-left: 10px;
}

.content .cusine-item-right .widget-cusine-img {
    display:  inline-block;
    float:  left;
    margin-right: 10px;
}

.content .cusine-item-right {
    display: inline-block;
    margin-bottom: 15px;
}

.content .cusine-item-right .widget-cusine-img img {
    width: 100%;
}

.content .cusine-item-right .widget-cusine-content {
    display:  inline-block;
    width: calc(100% - 120px);
}

.content .cusine-item-right .widget-cusine-content h4 {
    font-size: 16px;
    color: #044da2;
    line-height: 20px;
    font-weight:  bold;
    margin-bottom: 5px;
}

.content .cusine-item-right .widget-cusine-content p {
    color:  #888;
}

.box-location {
    background: #ededed;
    padding:  20px 0;
    margin-top: 20px;
}

.box-location h3 {
    margin-bottom: 20px;
}

.box-location .text-locations strong {
    padding-right: 50px;
    border-right: 1px dashed #333;
    float:  left;
    display:  inline-block;
    width:  150px;
    height:  30px;
    font-size:  14px;
}

.box-location .text-locations a {
    float:  left;
    margin-left: 10px;
    padding-right: 10px;
    color:  #111;
    border-right: 1px solid #ccc;
    font-size:  13px;
}

.box-location .text-locations {
    margin-bottom: 10px;
}

footer {
    /* background: #044da2; */
}

.footer-logo img {
    width: 100%;
    /* height: 60px; */
}

.footer-logo {
    display:  inline-block;
}

.footer-socical {
    display:  block;
    margin:  10px 0;
}

.footer-socical li {
    display:  inline-block;
    margin-right: 5px;
}

.content-footer {
    padding:  20px 0;
    background: #044da2; */
}

.footer-socical i {
    background: #fff;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: #044da2;
    line-height: 35px;
    text-align:  center;
}

.footer-socical li a:hover i {
    background-color: #266ba3;
    color: #fff;
}

.footer-info p {
    color:  #fff;
    margin-bottom: 5px;
}

.footer-info i {
    margin-right: 5px;
}

footer .footer-item a:before {
    content: "\f101";
    font-size: 13px;
    color: #fff;
    position: absolute;
    left: 5px;
    font-family: FontAwesome;
}

footer .footer-item .footer-item {
    position: relative;
}

footer .footer-item ul {
    position:  relative;
}

footer .footer-item a {
    color:  #fff;
}

footer .footer-item li {
    margin:  10px 0;
    margin-left: 20px;
}

footer .footer-item h3 {
    color:  #fff;
}

footer .bot-footer {
    text-align:  center;
    background:  #266ba4;
    padding: 10px;
    color:  #fff;
}

.footer-deco {
    height: 35px;
    width: 100%;
    background-repeat:  repeat-x;
    background-image: url(../img/footer_deco.png);
}

@media (max-width: 1201px) and (min-width: 768px) {
    .container{
        width: 100%;
    }
    header .menu-top li{
        margin-left: 8px;
    }
    header .logo img{
        width: 100%;
    }
    .item-search {
    text-align:  center;
    }
    .content .search-property select, .content .plus-search input.inSearch{
        margin-top: 10px;
    }
    .content .main-search{
        margin-bottom: 0px;
    }
}